@import url('https://fonts.googleapis.com/css2?family=Acme&family=Merienda:wght@300..900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Sacramento&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Archivo+Black&family=Lobster&family=Meie+Script&family=Merienda:wght@300..900&family=Pacifico&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Sacramento&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Almarai:wght@300;400;700;800&family=Archivo+Black&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Lobster&family=Meie+Script&family=Merienda:wght@300..900&family=Pacifico&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Sacramento&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EBC5C5;
}
.common .img {
    width: 100px; 
    height: 100pxx;
}
.common .img img{
    width: 100%;
    height: 100%;
    margin-left: 20px;
    object-fit: cover;
}
.common .ThanhCongcu .img2{
    width: 450px; 
    height: 450pxx;
    
}
.common .ThanhCongcu .img2 img{
    margin-top: 20px;
    padding: 0px 0px 80px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 30px;
    padding-right: 20px;
}
.common .ThanhCongcu ul {
    margin-top: -40px;
    margin-right: 30px;
    display: flex;
    list-style: none;
    padding: 0px;
    COLOR: white;
    float: right;

}

.common .ThanhCongcu li {
    margin-top: -40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    COLOR: white;
    float: right;

}

.common .ThanhCongcu >div{
    display: inline-block;
    float: right;
}
.common .introduce{
    padding: 100px;
}

.common .introduce hr{
    width: 50%;
    margin: 0px 0px 20px ;
}
.common .introduce .milk_tea{
    margin: 20px auto;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}


.common .introduce .topic {
    margin: 20px auto;
    font-family: "Almarai", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white
}

.common .introduce .subject {
    margin: 10px auto;
    font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-variation-settings:
    "width" 50;
  color: white
}

.common .introduce button{
    margin: 0px 0px 20px 20px;
    width: 35%;
    padding: 5px;
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
}
.common .introduce .icon{
   padding-right: 40px;
   padding: 15PX;
}
.common .introduce .icon i {
    margin: 20px ;
    font-size : 24px;
}
.common .introduce .icon a{
    color: white;
    font-size: 20px;
}
.common .introduce .star {
    margin-right: 20PX;
    font-size: 30PX;
    color: white;
}
.common .introduce .star i{
 margin: 10px;
 font-size: 18px;
}