@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #344A73;
}

.wrapper {
    width: 300px;
    margin: 50px auto;
}

.wrapper .login {
    background-color: #fff;
    padding: 20px;
}

.wrapper .login .title {
    font-size: 32px;
    text-align: center;

    /* padding-top: 10px; */
    padding-bottom: 10px;
    font-weight: 600;
}

.wrapper .login .group-input {
    margin-bottom: 10px;
}

.wrapper .login .group-input .sub-title {
    color: grey;
}

.wrapper .login .group-input input {
    width: 100%;
    padding: 3px;
    border: none;
    border: solid 1.5px grey;
    border-radius: 5px;
}

.wrapper .login button {
    width: 100%;
    padding: 5px;
    background-color: #4AC1A3;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
    font-size: 16px;
    cursor: pointer;
}

.wrapper .sign-up-here {
    text-align: center;
    color: #fff;
    margin: 10px;
}

.wrapper .sign-up-here a {
    color: #4AC1A3;
    /* text-decoration: underline; */
    cursor: pointer;
}

